In [1]:
from pandas import read_csv
import pandas as pd
station_num=pd.read_csv('station_all.csv',header=None)
a=station_num[0]
a=a[:3]
print(a)
#a=station_num[0]
#a=a[:3]
from NDBC.NDBC import DataBuoy
#An example of getting data.
n41 = DataBuoy(a[1])
n41.get_data(years=range(2011, 2021),datetime_index=True)
n41.data
for i in a:
    store=[]
    N=DataBuoy(i)
    N.get_data(years=range(2011, 2021),datetime_index=True)
    store.append(N)

In [1]:
from pandas import read_csv
import pandas as pd
station_num=pd.read_csv('station_all.csv',header=None)
a=station_num[0]
a=a[:3]
print(a)

0    41001
1    41002
2    41004
Name: 0, dtype: object

In [4]:
from NDBC.NDBC import DataBuoy
print(a[0])
store=[]
N=DataBuoy(a[0])
N.get_data(years=range(2011, 2021),datetime_index=True)
store.append(N)

41001

D:\Program Files (x86)\lib\site-packages\NDBC\NDBC.py:398: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  data_df = pd.read_csv(url, r"\s+")
D:\Program Files (x86)\lib\site-packages\NDBC\NDBC.py:398: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  data_df = pd.read_csv(url, r"\s+")
D:\Program Files (x86)\lib\site-packages\NDBC\NDBC.py:410: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.data[data_type]["data"] = self.data[data_type]["data"].append(
D:\Program Files (x86)\lib\site-packages\NDBC\NDBC.py:398: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  data_df = pd.read_csv(url, r"\s+")
D:\Program Files (x86)\lib\site-packages\NDBC\NDBC.py:410: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.data[data_type]["data"] = self.data[data_type]["data"].append(
D:\Program Files (x86)\lib\site-packages\NDBC\NDBC.py:398: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  data_df = pd.read_csv(url, r"\s+")
D:\Program Files (x86)\lib\site-packages\NDBC\NDBC.py:410: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.data[data_type]["data"] = self.data[data_type]["data"].append(
D:\Program Files (x86)\lib\site-packages\NDBC\NDBC.py:398: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  data_df = pd.read_csv(url, r"\s+")
D:\Program Files (x86)\lib\site-packages\NDBC\NDBC.py:410: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.data[data_type]["data"] = self.data[data_type]["data"].append(
D:\Program Files (x86)\lib\site-packages\NDBC\NDBC.py:398: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  data_df = pd.read_csv(url, r"\s+")
D:\Program Files (x86)\lib\site-packages\NDBC\NDBC.py:410: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.data[data_type]["data"] = self.data[data_type]["data"].append(
D:\Program Files (x86)\lib\site-packages\NDBC\NDBC.py:398: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  data_df = pd.read_csv(url, r"\s+")
D:\Program Files (x86)\lib\site-packages\NDBC\NDBC.py:410: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.data[data_type]["data"] = self.data[data_type]["data"].append(
D:\Program Files (x86)\lib\site-packages\NDBC\NDBC.py:398: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  data_df = pd.read_csv(url, r"\s+")
D:\Program Files (x86)\lib\site-packages\NDBC\NDBC.py:398: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  data_df = pd.read_csv(url, r"\s+")
D:\Program Files (x86)\lib\site-packages\NDBC\NDBC.py:410: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.data[data_type]["data"] = self.data[data_type]["data"].append(
Year 2014 not available.
Year 2018 not available.
Please review available station data:
 https://www.ndbc.noaa.gov/station_history.php?station=41001

In [20]:
from seebuoy import ndbc
#To get a real-time dataset---->Only 45 days.
df = ndbc.real_time('41013')
df

,wdir,wspd,gst,wvht,dpd,apd,mwd,pres,atmp,wtmp,dewp,vis,ptdy,tide
date,,,,,,,,,,,,,,
2022-12-19 01:40:00,340.0,7.0,11.0,NaN,NaN,NaN,NaN,1022.9,11.5,19.9,0.3,NaN,NaN,NaN
2022-12-19 01:30:00,340.0,7.0,10.0,NaN,NaN,NaN,NaN,1022.7,11.6,19.9,0.5,NaN,NaN,NaN
2022-12-19 01:20:00,340.0,6.0,9.0,0.8,15.0,4.2,150.0,1022.6,11.6,19.9,0.3,NaN,NaN,NaN
2022-12-19 01:10:00,340.0,7.0,9.0,NaN,NaN,NaN,NaN,1022.4,11.6,19.9,0.9,NaN,NaN,NaN
2022-12-19 01:00:00,340.0,7.0,9.0,NaN,NaN,NaN,NaN,1022.4,11.6,NaN,0.5,NaN,3.1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-04 00:40:00,20.0,9.0,11.0,1.5,NaN,4.8,79.0,1023.1,21.4,25.1,18.8,NaN,NaN,NaN
2022-11-04 00:30:00,10.0,9.0,10.0,NaN,NaN,NaN,NaN,1023.2,21.5,25.1,18.9,NaN,NaN,NaN
2022-11-04 00:20:00,10.0,9.0,11.0,1.4,6.0,4.7,75.0,1023.1,21.4,25.2,18.7,NaN,NaN,NaN
2022-11-04 00:10:00,20.0,9.0,11.0,NaN,NaN,NaN,NaN,1023.1,21.4,25.2,18.5,NaN,NaN,NaN
2022-11-04 00:00:00,20.0,9.0,11.0,NaN,NaN,NaN,NaN,1023.1,21.4,25.2,18.7,NaN,1.0,NaN

In [41]:
#Try the 41037 data and 41013 data.
years = ndbc.available_years('41037', "stdmet")
df_store = []
for year in years[-2:]:
  df_store.append(ndbc.historic('41037', year, dataset="stdmet"))
df = pd.concat(df_store)
df

,wdir,wspd,gst,wvht,dpd,apd,mwd,pres,atmp,wtmp,dewp,vis,tide
date,,,,,,,,,,,,,
2021-01-01 00:08:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.6,18.0,NaN,NaN,NaN
2021-01-01 01:08:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.5,18.1,NaN,NaN,NaN
2021-01-01 02:08:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.3,18.1,NaN,NaN,NaN
2021-01-01 03:08:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.3,18.1,NaN,NaN,NaN
2021-01-01 04:08:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.1,18.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-30 19:08:00,208.0,11.3,15.6,NaN,NaN,NaN,NaN,1012.0,22.3,22.0,18.5,NaN,NaN
2022-11-30 20:08:00,244.0,8.9,12.3,NaN,NaN,NaN,NaN,1013.0,21.7,21.9,18.1,NaN,NaN
2022-11-30 21:08:00,247.0,8.7,11.8,NaN,NaN,NaN,NaN,1013.9,20.8,21.9,17.6,NaN,NaN
2022-11-30 22:08:00,230.0,10.0,13.1,NaN,NaN,NaN,NaN,1014.4,20.7,21.8,17.5,NaN,NaN
2022-11-30 23:08:00,248.0,8.9,12.4,NaN,NaN,NaN,NaN,1015.0,20.5,21.7,17.6,NaN,NaN

In [43]:
years = ndbc.available_years('41013', "stdmet")
df_store = []
for year in years[-2:]:
  df_store.append(ndbc.historic('41013', year, dataset="stdmet"))
df = pd.concat(df_store)
df

D:\Program Files (x86)\lib\site-packages\seebuoy\ndbc\_historic.py:139: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(

,wdir,wspd,gst,wvht,dpd,apd,mwd,pres,atmp,wtmp,dewp,vis,tide
date,,,,,,,,,,,,,
2021-01-01 00:00:00,180.0,6.8,8.3,NaN,NaN,NaN,NaN,1021.5,21.1,18.9,18.0,NaN,NaN
2021-01-01 00:10:00,180.0,6.6,7.9,NaN,NaN,NaN,NaN,1021.5,21.1,18.9,18.0,NaN,NaN
2021-01-01 00:20:00,180.0,6.3,8.0,NaN,NaN,NaN,NaN,1021.5,21.1,18.9,18.2,NaN,NaN
2021-01-01 00:30:00,181.0,6.4,8.0,NaN,NaN,NaN,NaN,1021.6,21.1,18.9,18.2,NaN,NaN
2021-01-01 00:40:00,182.0,6.6,8.0,2.08,7.69,5.71,162.0,1021.7,21.1,18.9,18.2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-30 23:10:00,265.0,8.9,11.0,1.92,6.25,5.10,187.0,1016.1,21.6,23.1,17.2,NaN,NaN
2022-11-30 23:20:00,269.0,9.3,11.5,NaN,NaN,NaN,NaN,1016.2,21.5,23.0,16.8,NaN,NaN
2022-11-30 23:30:00,267.0,8.7,10.5,NaN,NaN,NaN,NaN,1016.2,21.5,23.0,17.0,NaN,NaN
2022-11-30 23:40:00,267.0,8.3,10.0,1.71,6.25,4.95,191.0,1016.3,21.4,23.0,17.0,NaN,NaN
2022-11-30 23:50:00,269.0,9.0,11.3,NaN,NaN,NaN,NaN,1016.6,21.4,22.9,17.0,NaN,NaN

:

In [40]:
a=ndbc.historic('41037', 2010, dataset="stdmet")
b=ndbc.historic('41037', 2011, dataset="stdmet")
print(a.shape)
print(b.shape)

(7807, 13)
(7852, 13)

In [31]:
from pandas import read_csv
import pandas as pd
station_num=pd.read_csv('station_all.csv',header=None)
a=station_num[0]
print(a)

years = ndbc.available_years(a[0], "stdmet")
df_store = []
for year in years[-10:]:
  df_store.append(ndbc.historic(a[0], year, dataset="stdmet"))

df = pd.concat(df_store)
df

0      41001
1      41002
2      41004
3      41008
4      41009
       ...
330    LJPC1
331    LKWF1
332    LMFS1
333    LONF1
334    LOPL1
Name: 0, Length: 335, dtype: object

D:\Program Files (x86)\lib\site-packages\seebuoy\ndbc\_historic.py:139: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(

,wdir,wspd,gst,wvht,dpd,apd,mwd,pres,atmp,wtmp,dewp,vis,tide
date,,,,,,,,,,,,,
2010-12-31 23:50:00,242.0,3.0,3.9,0.92,10.81,6.97,NaN,1026.1,17.5,19.4,9.8,NaN,NaN
2011-01-01 00:50:00,198.0,3.6,4.6,0.89,8.33,6.99,NaN,1026.2,17.5,19.7,10.4,NaN,NaN
2011-01-01 01:50:00,214.0,5.3,6.7,0.77,8.33,6.49,NaN,1026.1,17.5,19.9,11.7,NaN,NaN
2011-01-01 02:50:00,211.0,6.0,7.0,0.77,8.33,6.06,NaN,1025.8,17.5,19.9,11.5,NaN,NaN
2011-01-01 03:50:00,226.0,5.4,6.7,0.84,8.33,5.71,NaN,1025.5,18.0,19.9,10.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-30 23:10:00,189.0,12.2,15.3,2.12,5.88,5.04,190.0,1016.3,22.4,23.0,NaN,NaN,NaN
2022-11-30 23:20:00,186.0,12.0,15.4,NaN,NaN,NaN,NaN,1016.6,22.4,23.0,NaN,NaN,NaN
2022-11-30 23:30:00,190.0,12.1,14.4,NaN,NaN,NaN,NaN,1016.6,22.4,23.0,NaN,NaN,NaN
2022-11-30 23:40:00,190.0,12.1,15.1,2.09,6.25,5.01,195.0,1016.8,22.5,23.0,NaN,NaN,NaN
2022-11-30 23:50:00,193.0,11.7,14.6,NaN,NaN,NaN,NaN,1016.8,22.6,23.0,NaN,NaN,NaN

In [32]:
from pandas import read_csv
import pandas as pd
station_num=pd.read_csv('station_all.csv',header=None)
a=station_num[0]
print(a)

0      41001
1      41002
2      41004
3      41008
4      41009
       ...
330    LJPC1
331    LKWF1
332    LMFS1
333    LONF1
334    LOPL1
Name: 0, Length: 335, dtype: object

In [34]:
a=a[:3]
print(a)

0    41001
1    41002
2    41004
Name: 0, dtype: object

In [35]:
df_store = []
for i in a:#i represents the station index.
   years = ndbc.available_years(i, "stdmet")
   for year in years[-10:]:
       df_store.append(ndbc.historic(i, year, dataset="stdmet"))

df = pd.concat(df_store)
df

D:\Program Files (x86)\lib\site-packages\seebuoy\ndbc\_historic.py:139: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(
D:\Program Files (x86)\lib\site-packages\seebuoy\ndbc\_historic.py:139: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(
D:\Program Files (x86)\lib\site-packages\seebuoy\ndbc\_historic.py:139: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(
D:\Program Files (x86)\lib\site-packages\seebuoy\ndbc\_historic.py:139: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(
D:\Program Files (x86)\lib\site-packages\seebuoy\ndbc\_historic.py:139: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(
D:\Program Files (x86)\lib\site-packages\seebuoy\ndbc\_historic.py:139: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(
D:\Program Files (x86)\lib\site-packages\seebuoy\ndbc\_historic.py:139: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(
D:\Program Files (x86)\lib\site-packages\seebuoy\ndbc\_historic.py:139: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(
D:\Program Files (x86)\lib\site-packages\seebuoy\ndbc\_historic.py:139: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(

,wdir,wspd,gst,wvht,dpd,apd,mwd,pres,atmp,wtmp,dewp,vis,tide
date,,,,,,,,,,,,,
2010-12-31 23:50:00,242.0,3.0,3.9,0.92,10.81,6.97,NaN,1026.1,17.5,19.4,9.8,NaN,NaN
2011-01-01 00:50:00,198.0,3.6,4.6,0.89,8.33,6.99,NaN,1026.2,17.5,19.7,10.4,NaN,NaN
2011-01-01 01:50:00,214.0,5.3,6.7,0.77,8.33,6.49,NaN,1026.1,17.5,19.9,11.7,NaN,NaN
2011-01-01 02:50:00,211.0,6.0,7.0,0.77,8.33,6.06,NaN,1025.8,17.5,19.9,11.5,NaN,NaN
2011-01-01 03:50:00,226.0,5.4,6.7,0.84,8.33,5.71,NaN,1025.5,18.0,19.9,10.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-30 23:10:00,286.0,9.6,11.5,1.38,5.88,4.27,189.0,1016.9,21.8,24.0,17.7,NaN,NaN
2022-11-30 23:20:00,284.0,10.0,12.3,NaN,NaN,NaN,NaN,1017.3,21.6,24.1,17.3,NaN,NaN
2022-11-30 23:30:00,289.0,9.7,11.8,NaN,NaN,NaN,NaN,1017.5,21.6,24.0,17.2,NaN,NaN
2022-11-30 23:40:00,291.0,10.0,12.3,1.36,5.88,4.31,191.0,1017.6,21.5,24.1,17.1,NaN,NaN
2022-11-30 23:50:00,293.0,10.0,12.6,NaN,NaN,NaN,NaN,1017.7,21.5,24.1,17.1,NaN,NaN